*{
    padding: 0; 
    margin:0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
    position: relative;
    align-items: center;
    padding-top: 15px;
    line-height: 25px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    border-radius: 30px;
    height: 400px;
    
    position: relative;
}
h1{
    position: relative;
    

}
p{
    position: relative;

}